.chat-theme {
  position: relative;
  background: #170020;
  overflow: hidden;
}

.chat-theme div {
  position: relative;
  z-index: 2;
}

.chat-theme::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.1;
  background-image: url('../assets/images/theme.jpg');
  background-repeat: no-repeat;
  background-position: 50%, 0;
  background-size: cover;
}

.messages-box div {
  border-radius: 20px;
  padding: 5px 15px;
  width: -moz-fit-content;
  width: fit-content;
}

.message-form {
  background-color: #222222;
}

.bg-user {
  background-color: #9932cc;
}

.bg-username {
  background-color: #2d102c;
}

.input-text-color,
.input-text-color:focus {
  color: rgb(205, 205, 205);
}

.time {
  float: right;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #9932cc;
  border-radius: 20px;
  border: 3px solid #2d102c;
}
